[submodule "src/plugins/books"]
	path = src/plugins/books
	url = https://github.com/jflamy/tracker-books.git
[submodule "extensions/France"]
	path = extensions/France
	url = https://github.com/jflamy/tracker-France.git
