node_modules
.DS_Store
dist
dist-ssr
*.local
.svelte-kit
.env
.env.*
!.env.example
vite.config.js.timestamp-*
samples/
local/flags/

# Compliance folder - ignore all files except README.md
compliance/*
!compliance/README.md
