node_modules
.DS_Store
dist
dist-ssr
dist-windows/
dist-macos/
dist-rpi/
*.local
.svelte-kit
.env
.env.*
!.env.example
vite.config.js.timestamp-*
samples/
local/flags/
build/

# Compliance folder - ignore all files except README.md
compliance/*
!compliance/README.md
local/pictures
local/logos/