node_modules
.DS_Store
dist
dist-ssr
dist-windows/
dist-macos/
dist-rpi/
*.local
.svelte-kit
.env
.env.*
!.env.example
vite.config.js.timestamp-*
samples/
local/flags/
build/

# Compliance folder - ignore all files except README.md
compliance/*
!compliance/README.md
local/pictures/.gitkeep
local/pictures/4123.JPG
local/pictures/Alicia Valentina Scacabarozi Alhadef.jpeg
local/pictures/Amanda Souza Louredo square.jpg
local/pictures/Amanda Souza Louredo.jpg
local/pictures/Dafny Melgar Mantelli.jpg
local/pictures/Dragos Doru Stanica.jpg
local/pictures/Isanelly Cristina Da Silva.jpg
local/pictures/Lia de Souza Matos.jpg
local/pictures/Luanne Cristiny Pereira Ramos.jpg
local/pictures/Maria Isabella De Lima Santos.jpg
local/pictures/Olga Beatriz Da Silva Sampaio.jpeg
local/pictures/Rafaela Paschotto Costa.jpg
local/logos/Asset 4.avif
local/logos/Asset 4.png
local/logos/Asu_EN_black.svg
local/logos/Asu_EN_color.svg
local/logos/Asu_EN.svg
local/logos/Asu_ES_black.svg
local/logos/Asu_ES_color.svg
local/logos/Asu_ES.svg
local/logos/blue-owl-sticker.svg
local/logos/combined_bigger.svg
local/logos/combined.svg
local/logos/event.png
local/logos/event.svg
local/logos/federation.png
local/logos/federation.svg
local/logos/felp.png
local/logos/left.png
local/logos/left.svg
local/logos/leftASU.svg
local/logos/leftIWF.svg
local/logos/leftIWF4.svg
local/logos/owlcms-logo.svg
local/logos/owlcms-sticker.svg
local/logos/panam.png
local/logos/right.png
local/logos/right.svg
local/logos/rightASU.svg
local/logos/rightIWF.svg
local/logos/rightIWF4.svg
local/logos/sajr.png
local/logos/sajr2.png
local/logos/sudamericana.pdn
local/logos/sudamericana.png
local/logos/sudamericana2.png
local/logos/swf-black-red-logo.png
local/logos/swf-black-red-logo.svg
local/logos/swf-white-red-logo.png
local/logos/WHC.svg
local/logos/header_left.svg
local/logos/header_right.jpg
local/logos/header_right.webp
