[submodule "src/plugins/books"]
	path = src/plugins/books
	url = https://github.com/jflamy/tracker-books.git
	branch = master
[submodule "extensions/France"]
	path = extensions/France
	url = https://github.com/jflamy/tracker-France.git
	branch = master
[submodule "src/plugins/OBS"]
	path = src/plugins/OBS
	url = https://github.com/owlcms/tracker-obs.git
	branch = master
[submodule "src/plugins/video-overlays/ohio-wso-lower-third"]
	path = src/plugins/video-overlays/ohio-wso-lower-third
        url = https://github.com/hmsiegel/ohio-wso-lower-third.git
